build/
sdkconfig.old
sdkconfig
*.o
.pio/
.pio-home/
.venv/
.vscode/
.claude/
components/*
!components/README.md
managed_components/*
.DS_Store
dependencies.lock
sdkconfig.*
!sdkconfig.defaults
_backup/
main/include/wpi
main/include/hal
main/include/SettingsBluetooth.h
