#ifndef __SETTINGS_BLUETOOTH_H__
#define __SETTINGS_BLUETOOTH_H__

#define CONTROLLER_FORGET_MAC_ADDR      false

// JoyCon(L)
#define CONTROLLER_DRIVE_MAC_ADDR       "0A:00:0A:AA:0A:A0"
// JoyCon(R)
#define CONTROLLER_DOME_MAC_ADDR        "0A:00:0A:AA:0A:A1"
// JoyCon(L)
#define CONTROLLER_ANIMATE_MAC_ADDR     "0A:00:0A:AA:0A:A2"
// JoyCon(R)
#define CONTROLLER_CAMERA_MAC_ADDR      "0A:00:0A:AA:0A:A3"

static const char* CONTROLLER_MAC_ADDRS[] = {
    CONTROLLER_DRIVE_MAC_ADDR,
    CONTROLLER_DOME_MAC_ADDR,
    CONTROLLER_ANIMATE_MAC_ADDR,
    CONTROLLER_CAMERA_MAC_ADDR
};
#endif
